---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";

const title = `Error 404 — ${SITE.name}`;
---

<Layout meta={{ title }}>
	<section
		class="flex items-center h-[calc(100vh-104px)] md:h-[calc(100vh-130px)]"
	>
		<div
			class="container flex flex-col items-center justify-center px-5 mx-auto -mt-40"
		>
			<div class="max-w-lg text-center">
				<h2 class="mb-8 font-bold text-9xl">
					<span class="sr-only">Error</span>
					<span
						class="bg-clip-text text-transparent bg-gradient-to-r from-primary-100 to-secondary-100"
						>404</span
					>
				</h2>
				<p class="text-2xl font-semibold md:text-2xl">
					This page does not exists.
				</p>
				<p class="mt-4 mb-8 text-lg text-zinc-400">
					It was probably a bad idea anyway, so maybe for the better?
				</p>
				<a
					rel="noopener noreferrer"
					href="/"
					class="btn text-white bg-gray-700 hover:bg-gray-800 ml-4"
				>
					Back to homepage
				</a>
			</div>
		</div>
	</section>
</Layout>
